*{
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #333;
  overflow: hidden;
}
a {
  color: #888;
  text-decoration: none;
  transition: .3s;
}
a:hover {
  color: #fff;
}
